:root{
  --glowny-kolor: #f0386b;
  --error-kolor: red;
}

* {
  color: white;
  font-size: 100%;
  font-family: Arial;
 }

.window {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--glowny-kolor);
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
  padding: 0px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 250px;
  margin-top: 75px;
  height: 500px;
  border-radius: 50%;
}

.sluchawka {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  text-align: center;
  height: 90px;
  width: 90px;
  box-sizing: border-box;
  background-color: var(--glowny-kolor);
  border-radius: 50%;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 1.15em;
}

.box {
  margin: auto;
  text-align: center;
  width: 300px;
  margin-top: 110px;
}

.text {
  font-size: 20px;
  margin-top: 30px;
}

.text-top{
  margin-top: 50px;
  font-size: 30px;
}

.text-upper {
  font-size: 30px;
  font-weight: 600;
  margin: auto;
  padding-top: 10px;
}

.text-mid {
  font-size: 30px;
  font-weight: 600;
  margin: auto;
  padding-top: 50px;
  margin-bottom: 30px;
}

.text-down{
  margin-top: 150px;
  font-size: 30px;
}

.header,
.form-number {
  margin-bottom: 35px;
}

.header {
  margin-top: 20px;
  font-size: 29px;
  font-weight: 800;
  text-align: center;
}

.form-label {
  font-size: 22px;
  font-weight: 600;
  left: 100px;
}

.form-number {
  width: 250px;
  height: 45px;
  padding: 20px;

  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  background: none;
  box-sizing: border-box;
}



.call-button {
  width: 250px;
  height: 45px;
  vertical-align: middle;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 40px;
  color: var(--glowny-kolor);
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 auto;
}

.call-button:hover, .ok-button:hover {
  filter: brightness(80%);
}

.ok-button {
  width: 200px;
  height: 45px;
  vertical-align: middle;
  font-size: 22px;
  font-weight: 600;
  line-height: 44px;
  color: var(--glowny-kolor);
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 30px;
}

.error {
  border: 1px solid white;
  border-radius: 5px;
  background-color: #ef3960;
  box-sizing: border-box;
}

.stopka {
  margin-top: 30px;
  font-size: 15px;
}
